
body {
	margin:0;
	padding: 0;
	background: #CFD0CF;
	font-family: 'Muli', 'Arial', sans-serif;
}

h1 {
	margin: auto;
	padding: 25px 0 50px 0;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	color: #434344
}
/* Стили игрового поля */
.memoji {
	width: 895px;
	margin: 0 auto 0 auto;
	text-align: center;
	background: #CFD0CF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.field {
	margin: auto;
	width:595px;
	height: 440px;
	flex: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	perspective: 600px;
}

.card {
	box-sizing: border-box;
	width: 130px;
	height: 130px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 500ms;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/* class for turn card by JS */
.turn {
	transform: rotateY(180deg);
	box-shadow: -1px 1px 5px rgba(0,0,0,0.5);
}

@keyframes spin {
	0%{transform: rotateY(0deg);}
	50%{transform: rotateY(180deg);}
	100%{transform: rotateY(360deg);}
}

.spin {
	animation: spin 150ms infinite ease;
}


.front, .back {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9px;
	backface-visibility: hidden;
	cursor: pointer;
}

.front {
	z-index: 2;
	border: solid 5px white;
	background: linear-gradient(45deg, #22AB93, #19668D);
}

.back {
	transform: rotateY(-180deg);
	background: white;
	text-align: center;
	font-size: 60px;
	line-height: 130px;
}

.wrong_color {
	background: #F44336;
}

.right_color {
	background: #5AD66F;
}


/* Стили всплывающего поля */
.float_field {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #0000006D;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 15px 'Muli', 'Arial', sans-serif;
}


/* Стили окон на всплывающем поле */

/* Стили стартовой формы */
form[name=start] {
	background: white;
	min-width: 250px;
	border-radius: 9px;
	padding: 5px;
}
form[name=start] fieldset {
	border-radius: 9px;
	border: solid 1px #082A23;
	margin-bottom: 25px;
}
form[name=start] legend {
	margin: 5px auto 5px auto;
}
form[name=start] input {
	box-sizing: border-box;
	width: 100%;
	height: 25px;
	border-radius: 3px;
	border: solid 1px #082A23;
	font: 15px 'Muli', 'Arial', sans-serif;
	text-align: center;
}
form[name="start"] input:focus{
	outline: none;
	box-shadow: 0 0 2px 1px rgba(0, 255, 207, 0.5);
}
form[name="start"] input[type="submit"] {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background:rgba(0, 255, 207, 0.5);
	box-shadow: 1px 1px 5px 1px grey;
	cursor: pointer;
	margin: auto;
	float: initial;
	display: block;
	margin-bottom: 5px;
	font: 20px  'Muli', 'Arial', sans-serif;
}
form[name="start"] input[type="submit"]:active{
	box-shadow: none;
}
form[name="start"] input[type="range"] {
	width: 100%;
	margin: auto;
	float: initial;
}
form[name="start"] input[type="range"]:focus{
	box-shadow: none;

}
.log{
	height: 25px;
	margin: 5px auto 0 auto;
	text-align: center;
}

/* Стили окон победы и поражения */
.float_window {
	background: white;
	min-width: 350px;
	border-radius: 9px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.float_window h2 {
	font-size: 48px;
	font-weight: bold;
	margin: 30px 0 0 0;
}

.float_window h2 span {
	display: inline-block;
	animation: elastics 2s infinite reverse linear;
}

.float_window h2 span:nth-child(2) {
	animation-delay:.25s;
}

.float_window h2 span:nth-child(3) {
	animation-delay:.5s;
}

.float_window h2 span:nth-child(4) {
	animation-delay:.75s;
}

.float_window .message {
	font: 24px;
}

@keyframes elastics {
	0%, 100% {
		transform: scaleY(0.4) translateY(0px);
	}
	25% {
		transform: scaleY(0.8) translateY(-10px);
	}
	50% {
		transform: scaleY(1.2) translateY(-20px);
	}
	75% {
		transform: scaleY(0.8) translateY(-10px);
}
}

.botton {
	height: 40px;
	margin: 40px 0 30px 0;
	padding: 0 30px 0 30px;
	background: linear-gradient(-135deg, #22AB93, #19668D);
	border-radius: 9px;
	color: white;
	font-size:20px;
	line-height: 40px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botton:active {
	box-shadow: inset 2px 1px 8px rgba(0,0,0,0.5);
}


/*стили для таймера*/

.timer{
	width: 100px;
	height: 100px;
	margin: 25px 25px 25px 25px;
	position: relative;
	flex: auto;
}
.count {
	width: 95%;
	height: 95%;
	border-radius: 50%;
	position: absolute;
	left:0;
	top:0;
	margin: 2.5%;
	text-align: center;
	font-weight: bold;
	color: #082A23;
	box-shadow: 1px 1px 5px 1px grey;
}
.circle{
	stroke: #082A23;
	fill: rgba(0, 255, 207, 0.5);
	stroke-width: 2%;
	cx:50%;
	cy:50%;
	r: 48%;
	stroke-linecap: round;
}
.svg{
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
}
@keyframes pulse {
	0%
	{fill: rgba(0, 255, 207, 0.5);}
	33%
	{fill: rgba(255, 0, 0, 0.7);}
	66%
	{fill: rgba(0, 255, 207, 0.5);}
	100%
	{fill: rgba(255, 0, 0, 0.7);}
}


/* Стили для кнопки достижений */
.botton_achieving {
	width: 100px;
	height: 100px;
	margin: 25px 25px 25px 25px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 100px;
	color: #082A23;
	box-shadow: 1px 1px 5px 1px grey;
	border-radius: 50%;
	cursor: pointer;
	background: rgba(0, 255, 207, 0.5);
	overflow: hidden;
	transition: all 200 ease;
	flex: auto;

}

.botton_achieving:active {
	box-shadow: none;
}

/* Стили для окошка достижений */
.achieving {
	display: none;
	width: 200px;
	margin: 25px;
	background: rgba(0, 255, 207, 0.5);
	border-radius: 9px;
	border: solid 2px #082A23;
	text-align: left;
	padding: 0 10px 0 10px;
	overflow: hidden;
	transition: all 1s ease;
	flex: auto;
}

.achieving p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.achieving p span:nth-child(1) {
	font-weight: bold;
	display: inline-block;
	float: left;
}

.achieving p span:nth-child(2){
	display: inline-block;
	float: right;
}

.achieving_cklick {
	transition: all 1s ease;
	min-width: initial;
	height: 0;
	width: 0;
}


/* медиа запросы */
@media screen and (max-width: 900px) {
	.timer{
	position: relative;
	margin: 0 auto 25px auto;
	top:initial;
	right: initial;
	}

	.memoji h1 {
		padding: 25px 0 25px 0;
	}

	.memoji {
			width: 645px;
	}

	.botton_achieving {
	position: relative;
	margin: 25px auto 0 auto;
	top:initial;
	right: initial;}
}



@media screen and (orientation: portrait) {
	.timer{
		position: relative;
		margin: 0 auto 25px auto;
		top:initial;
		right: initial;
	}

	.memoji h1 {
		padding: 25px 0 25px 0;
	}

	.field {
		width: 440px;
		height: 595px;
	}

	.botton_achieving {
		position: relative;
		margin: 25px auto 0 auto;
		top:initial;
		right: initial;
	}

	.achieving {
	top: 825px;
	left: 50%;
	margin-left: -232px;
	min-width: 440px;
	}

	.memoji {
		height: 1025px;
	}
}

@media screen and (max-height: 645px) {
	.memoji h1 {
		padding: 5px 0 5px 0;
	}
	.field {
		height: 400px;
	}
}
