
body {
	margin:0;
	padding: 0;
	min-width: 700px;
	background: #CFD0CF;
	font-family: 'Muli', 'Arial', sans-serif;
}

h1 {
	margin: auto;
	padding: 25px 0 85px 0;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
h1 span{
	transform-origin: top center;
	display: inline-block;
}
.l1{
	transform: scaleY(1.5);
		text-shadow: 0 0 5px #CFD0CF, 0 0 10px #CFD0CF, 0 0 15px #CFD0CF, 0 0 20px #F44336, 0 0 35px #F44336, 0 0 40px #F44336, 0 0 50px #F44336, 0 0 75px #F44336;

}
.l2{
	transform: scaleY(1.25);
		text-shadow: 0 0 5px #CFD0CF, 0 0 10px #CFD0CF, 0 0 15px #CFD0CF, 0 0 20px #F44336, 0 0 35px #F44336, 0 0 40px #F44336, 0 0 50px #F44336, 0 0 75px #F44336;

}
.l3{
	transform: scaleY(1);
		text-shadow: 0 0 5px #CFD0CF, 0 0 10px #CFD0CF, 0 0 15px #CFD0CF, 0 0 20px #F44336, 0 0 35px #F44336, 0 0 40px #F44336, 0 0 50px #F44336, 0 0 75px #F44336;

}
.l4{
	transform: scaleY(1.25);
		text-shadow: 0 0 5px #CFD0CF, 0 0 10px #CFD0CF, 0 0 15px #CFD0CF, 0 0 20px #F44336, 0 0 35px #F44336, 0 0 40px #F44336, 0 0 50px #F44336, 0 0 75px #F44336;

}
.l5{
	transform: scaleY(1.28);
		text-shadow: 0 0 5px #CFD0CF, 0 0 10px #CFD0CF, 0 0 15px #CFD0CF, 0 0 20px #F44336, 0 0 35px #F44336, 0 0 40px #F44336, 0 0 50px #F44336, 0 0 75px #F44336;

}
.l6{
	transform: scaleY(1.5);
		text-shadow: 0 0 5px #CFD0CF, 0 0 10px #CFD0CF, 0 0 15px #CFD0CF, 0 0 20px #F44336, 0 0 35px #F44336, 0 0 40px #F44336, 0 0 50px #F44336, 0 0 75px #F44336;

}
.m1, .m2, .m3, .m4, .m5{
	font-size: 50px;
}
.m1{
transform: translateY(25px);
}
.m2{
transform: translateY(-25px);
}
.m3{
transform: translateY(-25px);
}
.m4{
transform: translateY(25px);
}

.m1::before{
	content: "🐉";
}
.m2::before{
	content: "🐒";
}
.m3::before{
	content: "🐗";
}
.m4::before{
	content: "🐙";
}



/* Стили игрового поля */
.memoji {
	width: 100%;
	padding: 5px 0 5px 0;
	background: #CFD0CF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.field {
	margin: auto;
	width:595px;
	height: 440px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	perspective: 600px;
}

.card {
	box-sizing: border-box;
	width: 130px;
	height: 130px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 500ms;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/* class for turn card by JS */
.turn {
	transform: rotateY(180deg);
	box-shadow: -1px 1px 5px rgba(0,0,0,0.5);
}

@keyframes spin {
	0%{transform: rotateY(0deg);}
	50%{transform: rotateY(180deg);}
	100%{transform: rotateY(360deg);}
}

.spin {
	animation: spin 150ms infinite ease;
}


.front, .back {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9px;
	backface-visibility: hidden;
	cursor: pointer;
}

.front {
	z-index: 2;
	border: solid 5px white;
	background: linear-gradient(45deg, #22AB93, #19668D);
}

.back {
	transform: rotateY(-180deg);
	background: white;
	text-align: center;
	font-size: 60px;
	line-height: 130px;
}

.wrong_color {
	background: #F44336;
}

.right_color {
	background: #5AD66F;
}


/* Стили всплывающего поля */
.float_field {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #0000006D;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}


/* Стили окон на всплывающем поле */

/* Стили стартовой формы */
form[name=start] {
	background: white;
	min-width: 450px;
	border-radius: 9px;
	padding: 5px;
	font-size: 25px;
}
form[name=start] fieldset {
	border-radius: 9px;
	border: solid 1px #082A23;
	margin-bottom: 25px;
}
form[name=start] legend {
	margin: 5px auto 5px auto;
}
form[name=start] input {
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: solid 1px #082A23;
	text-align: center;
	font: inherit;
}
form[name="start"] input:focus{
	outline: none;
	box-shadow: 0 0 2px 1px rgba(0, 255, 207, 0.5);
}
form[name="start"] input[type="submit"] {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: none;
	background:rgba(0, 255, 207, 0.5);
	box-shadow: 1px 1px 5px 1px grey;
	cursor: pointer;
	margin: auto;
	display: block;
	margin-bottom: 5px;
}
form[name="start"] input[type="submit"]:active{
	box-shadow: none;
}
form[name="start"] input[type="range"]:focus{
	box-shadow: none;

}
.log{
	margin: 5px auto 0 auto;
	text-align: center;
}

/* Стили окон победы и поражения */
.float_window {
	max-width: 450px;
	background: white;
	min-width: 350px;
	border-radius: 9px;
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.float_window h2 {
	font-size: 80px;
	font-weight: bold;
	margin: 30px 0 0 0;
}

.float_window h2 span {
	display: inline-block;
	animation: elastics 2s infinite reverse linear;
}

.float_window h2 span:nth-child(2) {
	animation-delay:.25s;
}

.float_window h2 span:nth-child(3) {
	animation-delay:.5s;
}

.float_window h2 span:nth-child(4) {
	animation-delay:.75s;
}

.float_window .message {
	font-size: 25px;
}

@keyframes elastics {
	0%, 100% {
		transform: scaleY(0.4) translateY(0px);
	}
	25% {
		transform: scaleY(0.8) translateY(-10px);
	}
	50% {
		transform: scaleY(1.2) translateY(-20px);
	}
	75% {
		transform: scaleY(0.8) translateY(-10px);
}
}

.botton {
	height: 50px;
	margin: 40px 0 30px 0;
	padding: 0 30px 0 30px;
	background: linear-gradient(-135deg, #22AB93, #19668D);
	border-radius: 9px;
	color: white;
	font-size:30px;
	line-height: 50px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botton:active {
	box-shadow: inset 2px 1px 8px rgba(0,0,0,0.5);
}


/*стили для таймера*/

.timer{
	width: 150px;
	height: 150px;
	margin: 10px;
	position: fixed;
	top: 0;
	right: 0;
}
.count {
	width: 95%;
	height: 95%;
	border-radius: 50%;
	position: absolute;
	left:0;
	top:0;
	margin: 2.5%;
	text-align: center;
	font-weight: bold;
	color: #082A23;
	box-shadow: 1px 1px 5px 1px grey;
}
.circle{
	stroke: #082A23;
	fill: rgba(0, 255, 207, 0.5);
	stroke-width: 2%;
	cx:50%;
	cy:50%;
	r: 48%;
	stroke-linecap: round;
}
.svg{
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
}
@keyframes pulse {
	0%
	{fill: rgba(0, 255, 207, 0.5);}
	33%
	{fill: rgba(255, 0, 0, 0.7);}
	66%
	{fill: rgba(0, 255, 207, 0.5);}
	100%
	{fill: rgba(255, 0, 0, 0.7);}
}


/* Стили для окошка достижений */
.achieving {
	width: 250px;
	height: 75%;
	background: rgba(0, 255, 207, 0.5);
	border-radius: 0 9px 9px 0;
	box-shadow: 1px 1px 5px 1px grey;
	padding: 0 10px 0 10px;
	transition: all 1s ease;
	position: absolute;
	left: -260px;
	z-index: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

}

.achieving p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	margin-right: 5px;
}

.achieving p span:nth-child(1) {
	font-weight: bold;
	display: inline-block;
}

.achieving p span:nth-child(2){
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.achieving:hover {
	left: 0;
}

.achieving_cklick {
	transition: all 1s ease;
	min-width: initial;
	height: 0;
	width: 0;
}

@media (orientation: portrait) {

	.field {
		width: 660px;
		height: 892.5px;
	}

	.card {
		width: 195px;
		height: 195px;
		border-radius: 13.5px;
		box-shadow: 1.5px 1.5px 7.5px rgba(0,0,0,0.5);
	}

	.turn {
		box-shadow: -1.5px 1.5px 7.5px rgba(0,0,0,0.5);
	}

	.front, .back {
		border-radius: 13.5px;
	}

.front {
	border-width: 7.5px;
}
.back {
	font-size: 90px;
	line-height: 195px;
}

	.achieving {
		height: 45%
}

	h1 {
		padding-top: 250px;
	}

	.timer {
		width: 225px;
		height: 225px;
	}
}



