body {margin:0;}

.memoji {
	min-width: 100vh;
	min-height: 100vh;
	text-align: center;
	background: #CFD0CF;
}

.memoji h1 {
	margin: auto;
	padding: 40px 0;
	text-align: center;
	font: bold 42px Arial;
	color: #434344
}


.field {
	margin: auto;
	width:595px;
	height: 440px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	perspective: 600px;
}

.card {
	box-sizing: border-box;
	width: 130px;
	height: 130px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 500ms;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5); 
}

/* class for turn card to join JS */
.turn {} 

.card:active {
	transform: rotateY(180deg);
	box-shadow: -1px 1px 5px rgba(0,0,0,0.5);
}

.front {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 9px;
	border: solid 5px white;
	background: linear-gradient(45deg, #22AB93, #19668D);
}

.back {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(-180deg);
	backface-visibility: hidden;
	border-radius: 9px;
	background: white;
}