body {margin:0;}

.memoji {
	min-width: 100vh;
	min-height: 100vh;
	text-align: center;
	background: #CFD0CF;
	position: relative;
}

.memoji h1 {
	margin: auto;
	padding: 40px 0;
	text-align: center;
	font: bold 42px Arial;
	color: #434344
}


.field {
	margin: auto;
	width:595px;
	height: 440px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	perspective: 600px;
}

.card {
	box-sizing: border-box;
	width: 130px;
	height: 130px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 500ms;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/* class for turn card by JS */
.turn {
	transform: rotateY(180deg);
	box-shadow: -1px 1px 5px rgba(0,0,0,0.5);
}

.front, .back {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9px;
	backface-visibility: hidden;
	border-radius: 9px;
	cursor: pointer;
}

.front {
	z-index: 2;
	border: solid 5px white;
	background: linear-gradient(45deg, #22AB93, #19668D);
}

.back {
	transform: rotateY(-180deg);
	background: white;
	text-align: center;
	font-size: 60px;
	line-height: 130px;
}

.card[data-symbol="crocodile"] .back:after{
	content: "🐊";
}

.card[data-symbol="monkey"] .back:after{
	content: "🐵";
}

.card[data-symbol="kraken"] .back:after{
	content: "🐙";
}

.card[data-symbol="ledy_bug"] .back:after{
	content: "🐞";
}

.card[data-symbol="frog"] .back:after{
	content: "🐸";
}

.card[data-symbol="cat"] .back:after{
	content: "🐱";
}

.red .back {
	background: #F44336;
}

.green .back {
	background: #5AD66F;
}

.watch {
	margin: 30px 0 0 0;
	text-align: center;
	font: bold 32px Arial;
	color: #434344
}

.float_field {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #0000006D;
	display: flex;
	justify-content: center;
	align-items: center;
}

.float_window {
	background: white;
	min-width: 350px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.float_window h2 {
	font: bold 48px Arial;
	margin: 30px 0 0 0;
}

.float_window h2 span {
	display: inline-block;
	animation: elastics 2s infinite reverse linear;
}

.float_window h2 span:nth-child(2) {
	animation-delay:.25s;
}

.float_window h2 span:nth-child(3) {
	animation-delay:.5s;
}

.float_window h2 span:nth-child(4) {
	animation-delay:.75s;
}


@keyframes elastics {
	0%, 100% {
		transform: scaleY(0.4) translateY(0px);
	}
	25% {
		transform: scaleY(0.8) translateY(-10px);
	}
	50% {
		transform: scaleY(1.2) translateY(-20px);
	}
	75% {
		transform: scaleY(0.8) translateY(-10px);
}
}

.botton {
	height: 40px;
	margin: 40px 0 30px 0;
	padding: 0 30px 0 30px;
	background: linear-gradient(-135deg, #22AB93, #19668D);
	border-radius: 9px;
	color: white;
	font: bold 20px/40px Arial;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botton:active {
	box-shadow: inset 2px 1px 8px rgba(0,0,0,0.5);
}